<div class="row">
    <div class="col-12">
        <h3 class="text-center">View Booking</h3>
    </div>
</div>    
<!--<div class="row">
    <div class="col-12">
        <button class="btn btn-primary float-right">Add New</button>
    </div>
</div>-->    
<div class="row mar-top-10">
    <div class="col-12">
        <table class="table table-striped">
                <tr>
                    <th>Reference ID</th>
                    <th>Service Name</th>
                    <th>Service Type</th>
                    <th>Customer Name</th>
                    <th>Phone Number</th>
                    <th>Email Address</th>
                    <th>Action</th>
                </tr>  
                <tr *ngFor="let item of viewBookingData">
                    <td>{{item.referenceId}}</td> 
                    <td>{{item.serviceName}}</td>
                    <td>{{item.serviceType}}</td>    
                    <td>{{item.customerName}}</td>
                    <td>{{item.phoneNumber}}</td>
                    <td>{{item.emailAddress}}</td>
                    <td>
                        <span><i class="far fa-eye" (click)="viewService(item)" data-toggle="modal" [attr.data-target]="'#' + item.referenceId"></i></span>
                        <span><i class="far fa-trash-alt"></i></span>
                    </td>
                </tr>
        </table>
        <app-popup *ngIf="isPopupDisplay" [popupDisplay]="popupData" (viewDetailEvent)="popupClose()"></app-popup>
    </div>
</div>