<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Event Managemnt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li *ngIf="isLoggedIn" class="nav-item" style="border-right: 1px solid #fff;padding: 0px 7px;">
        <span style="font-weight: bold;color: #fff;">{{user.name}}</span>
        <br>
        <span style="color: #fff;">{{user.email}}</span>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" href="#" (click)="logOut($event)">
          <i class="fas fa-sign-out-alt"></i>Logout
        </a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" href="#" (click)="logOut($event)">
          <i class="fas fa-sign-in-alt"></i>Login
        </a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>