<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Event Managemnt</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['dashboard']"><i class="fa fa-clipboard-list"></i>
        </a>
      </li> 
      <li class="nav-item" style="border-right: 1px solid #fff; margin-right: 7px;">
        <a class="nav-link" [routerLink]="['customer-dashboard']"><i class="fa fa-address-card"></i>
        </a>
      </li>
      <li *ngIf="isLoggedIn" class="nav-item" style="border-right: 1px solid #fff; padding-right: 7px;">
          <span style="font-weight: bold;color: #fff;">{{user.name}}</span><br>
          <span style="color: #fff;">{{user.email}}</span>
        </li>
      <li class="nav-item" *ngIf="isLoggedIn">
          <a class="nav-link" href="#" (click)="logOut($event)">
            <i class="fas fa-sign-out-alt"></i>Logout
          </a>
        </li>
    </ul>
  </div>  
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>