.left-aside, .right-aside {
    background-color: white;
}
.left-aside {
    margin-right: 17px;
}
@media only screen and (min-width: 1024px) {
    .right-aside {
        max-width: 82%;
    }
}
@media only screen and (max-width:1024px) {
    .right-aside {
        margin-top: 10px;
    }
}

h2,h3,h4{
    text-align: center;
}