/* You can add global styles to this file, and also import other style files */
@import "node_modules/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.css";
@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-fresh.css";

body {
  background: white;
}
h1, h2, h3, h4, h5, h6, span, p, label{
  color: black;
}
.btn-info {
  background-color: #38dcf5;
  border-color: #38dcf5;
}
.bg-dark {
  background-color: rgb(156, 156, 156) !important;
}
.top-bottom-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}
.ng-valid:not(form){
    border-left: 10px solid #42A948 !important; /* green */
  }
  
  .ng-invalid:not(form)  {
    border-left: 10px solid #a94442 !important; /* red */
  }
  .right-aside h1, h2, h3, h4, h5, label, span, p {
    color: black;
}

.mar-top-5 {
  margin-top: 5px;
}

.mar-top-10 {
  margin-top: 10px;
}

.text-align-center {
  text-align: center;
}

.cursor-pointer-set {
  cursor: pointer;
}

.bgc-shadow{
  box-shadow: 0px 0px 28px #dcdcdc;
  border-radius: 10px;
}